.bi {
    width: 46px;
    height: 46px;
    vertical-align: top;
}

.bi-info-square-fill {
    width: inherit;
    height: inherit;
}

#address-map {
    cursor: pointer;
    font-size: 0.5em;
    color: #d59541;
    text-decoration: underline;
}

.contact-text {
    text-decoration: underline;
    cursor: pointer;
    color: #d59541;
}

@media (min-width: 800px) {
    .feature-item {
        padding-bottom: 0;
    }

    #contacts-title {
        margin-bottom: 0;
    }
}