.bi-x-circle-fill {
    float: right;
    width: 30px;
    height: initial;
    cursor: pointer;
    margin-top: 5px;
}

.bi-x-circle-fill:hover {
    transition: fill .3s ease-out;
    fill: #d59541;
}

.section-title {
    margin-bottom: 20px;
}

.certificates-gallery {
    text-align: center;
    margin-bottom: 1rem;
    margin-right: -18px;
}

@media (max-width: 600px) and (min-width: 200px) {
    .bi-x-circle-fill {
        width: 25px;
        margin-top: 10px;
    }
}

@media (min-width: 800px) {
    .about-gallery {
        margin-right: 0;
    }
}