<header class="site-header">
  <div class="wrapper">
    <div class="site-header-logo">
      <div class="site-header-logo-graphic icon icon-clear-logo">
        <img src="../assets/images/logo.png"/><!--Д-р Искра Соколова <br/> <i>Семеен лекар</i>--></div>
    </div>

    <div class="site-header-menu-icon" id="site-header-menu-icon" (click)="toggleMobileMenu($event)">
      <div class="site-header-menu-icon-middle">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    </div>

    <div class="site-header-menu-content">
      <!--<div class="site-header-btn-container">
        <a href="#" class="btn open-modal">Запази Час</a>
      </div>-->
      <nav class="primary-nav primary-nav-pull-right">
        <ul>
          <li><a href="#" id="work-time-link" (click)="scrollToWorkTime($event)">Работно Време</a></li>
          <li><a href="#" (click)="goToAbout($event)" id="about-link">За мен</a></li>
          <app-language-selector-component></app-language-selector-component>
        </ul>
      </nav>
    </div>
  </div>
</header>

<div class="large-hero">
  <img src="../assets/images/25909.jpg" id="header-image" />
  <div class="large-hero-text-content">
    <div class="wrapper">
      <h2 class="large-hero-subtitle">Д-р Искра Соколова<br/><strong>семеен лекар</strong></h2>
      <p class="large-hero-description">За информация относно ценоразпис, проверете <a href="#">тук</a></p>
      <p><a href="#" class="btn btn--orange btn--large open-modal">Запази час</a></p>
    </div>
  </div>
</div>

<div style="display: inline;">
  <router-outlet #outlet="outlet"></router-outlet>
</div>

<app-contacts></app-contacts>
<app-work-time></app-work-time>

