
.site-header {
    padding: 10px 0;
    position: absolute;
    width: 100%;
    z-index: 2;
    transition: background-color .3s ease-out;
}

.site-header-is-expanded {
    background-color: rgba(47,85,114,.55);
}

.site-header-logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(.8);
    transition: transform .3s ease-out;
    transform-origin: 50% 0;
    background-color: #2f5572;
    padding: 25px 36px;
}

.site-header-logo-graphic {
    color: white;
    text-align: center;
    padding: 0.4em;
    font-size: 1.2rem;
}

.site-header-menu-icon {
    width: 20px;
    height: 19px;
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 25px;
}

.site-header-menu-icon-middle {
    top: 8px;
    transition: all .3s ease-out;
    transform-origin: 0 50%;
}

.site-header-menu-content {
    opacity: 0;
    transform: scale(1.2);
    transition: all .3s ease-out;
    position: relative;
    z-index: -10;
    padding-top: 90px;
    text-align: center;
}

.site-header-menu-content-is-visible {
    opacity: 1;
    z-index: 1;
    transform: scale(1);
}

.icon-clear-logo {
    padding-top:0;
    width: 144.4px;;
    height: 61.53px;
}

.wrapper {
    overflow: hidden;
    padding-left: 18px;
    padding-right: 18px;
    max-width: 1236px;
    margin-left: auto;
    margin-right: auto;
}

.primary-nav {
    padding-top: 10px;
}

.primary-nav ul {
    margin: 0;
    padding: 0;
}

.primary-nav li {
    list-style: none;
    display: inline-block;
    padding-right: 7px;
}

.primary-nav a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    display: block;
    padding: 5px 8px;
    font-size: .8rem;
    background-color: rgba(47,85,114,.5);
}

.large-hero {
    border-bottom: 10px solid #2f5572;
    position: relative;
}

.large-hero-text-content {
    padding-top: 88px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
}

.large-hero-title {
    font-weight: 300;
    color: #2f5572;
    margin: 0;
    font-size: 2.4rem;
}

.large-hero-subtitle {
    font-weight: 300;
    color: #2f5572;
    font-size: 1.5rem;
    margin: 0;
}

.large-hero-description {
    color: #2f5572;
    font-size: 1.1rem;
    font-weight: 300;
    text-shadow: 2px 2px 0 rgba(0,0,0,.1);
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
}

.btn--large {
    padding: 1.1rem 1.9rem;
}

.btn--orange {
    background-color: #d59541;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
  
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: white;
}
  
.change .bar2 {opacity: 0; background-color: white;}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-5.5px, -4.5px);;
    transform: rotate(45deg) translate(-5.5px, -4.5px);
    background-color: white;
}

.page-section {
    padding: 4.5rem 0;
    padding-top:0;
}

.page-section-blue {
    background-color: #2f5572;
    color: #fff;
}

.section-title {
    font-size: 2.55rem;
    font-weight: 300;
    text-align: center;
}

.bi-watch {
    vertical-align: top;
}

.row-gutters-large {
    margin-right: -100px;
}

.row-gutters-large>div {
    padding-right: 100px;
}

.feature-item-title {
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: .7em;
    margin-bottom: .8rem;
    text-align: center;
}

.generic-content-container p {
    font-weight: 300;
    line-height: 1.65;
    margin: 0 0 1.8rem;
}

.feature-item-icon {
    display: block;
    margin: 0 auto;
}

.reveal-item {
    opacity: 0;
    transition: all 1.5s ease-out;
    transform: scale(1.15);
}

.reveal-item-is-visible {
    opacity: 1;
    transform: scale(1);
}

@media (min-width: 800px) {
    .site-header {
        position: fixed;
        background-color: rgba(47,85,114,.5);
    }

    .site-header-logo {
        left: auto;
        transform: translateX(0);
    }

    .site-header-menu-icon {
        display: none;
    }

    .site-header-menu-content {
        opacity: 1;
        z-index: 1;
        padding-top: 0;
        transform: scale(1);
    }

    .site-header-btn-container {
        float: right;
    }

    .site-header-scroll {
        background-color: rgba(23,51,72,.85);
    }

    .primary-nav {
        padding-top: 0;
    }

    .primary-nav-pull-right {
        float: right;
    }

    .primary-nav li {
        padding-right: 20px;
        float: left;
        display: block;
    }

    .primary-nav a.is-current-link {
        color: #fabb69;
    }

    .primary-nav a {
        font-size: 1rem;
        padding: 12px 0;
        background-color: transparent;
    }

    .primary-nav a:hover {
        background-color: #2f5572;
        color: #fff;
        text-decoration: none;
        padding: .75rem;
        transition: 0.6s;
    }

    .large-hero-text-content {
        padding-top: 60px;
    }

    .page-section {
        padding: 4.5rem 0;
        padding-top: 0;
    }

    .row-medium-6 {
        float: left;
        width: 50%;
    }

    .feature-item {
        padding-left: 94px;
        position: relative;
        padding-bottom: 2.5rem;
    }

    .site-header-scroll .site-header-logo {
        transform: scale(.56);
    }

    .feature-item-icon {
        position: absolute;
        left: 0;
    }

    .icon-clear-logo {
        width: initial;
    }
}

@media (min-width: 530px) {
    .large-hero-title {
        font-size: 4.8rem;
    }

    .large-hero-subtitle {
        font-size: 2.9rem;
    }

    .large-hero-description {
        font-size: 1.875rem;
    }

    .btn--large {
        font-size: 1.25rem;
    }

    .section-title {
        font-size: 2.9rem;
    }

    .feature-item-title {
        text-align: left;
        margin-top: 1em;
        font-size: 1.875rem;
    }

    .generic-content-container p {
        font-size: 1.125rem;
    }
}

@media (max-width: 600px) and (min-width: 200px)  {
    #header-image {
        height: 20rem;
    }

    .section-title {
        font-size: 2rem;
    }
}

@media (max-width: 800px) and (min-width: 601px)  {
    #header-image {
        height: 25rem;
    }
}

