<header class="site-header">
  <div class="wrapper">
    <div class="site-header-logo">
      <div class="site-header-logo-graphic icon icon-clear-logo">Д-р Соколова GP</div>
    </div>

    <div class="site-header-menu-icon" id="site-header-menu-icon" (click)="toggleMobileMenu($event)">
      <div class="site-header-menu-icon-middle">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    </div>

    <div class="site-header-menu-content">
      <div class="site-header-btn-container">
        <a href="#" class="btn open-modal">Запази Час</a>
      </div>
      <nav class="primary-nav primary-nav-pull-right">
        <ul>
          <li><a href="#our-beginning" id="our-beginning-link">Работно Време</a></li>
          <li><a href="#features" id="features-link">Контакти</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<div class="large-hero">
  <img src="../assets/images/25909.jpg" id="header-image" />
  <div class="large-hero-text-content">
    <div class="wrapper">
      <h2 class="large-hero-subtitle">Запазете час бързо и лесно</h2>
      <p class="large-hero-description">За информация относно свободни часове, проверете <a href="#">тук</a></p>
      <p><a href="#" class="btn btn--orange btn--large open-modal">Запази час</a></p>
    </div>
  </div>
</div>

<div id="features" class="page-section page-section-blue">
  <div class="wrapper">
    <h2 class="section-title">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-watch" fill="#d59541" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M4 14.333v-1.86A5.985 5.985 0 0 1 2 8c0-1.777.772-3.374 2-4.472V1.667C4 .747 4.746 0 5.667 0h4.666C11.253 0 12 .746 12 1.667v1.86A5.985 5.985 0 0 1 14 8a5.985 5.985 0 0 1-2 4.472v1.861c0 .92-.746 1.667-1.667 1.667H5.667C4.747 16 4 15.254 4 14.333zM13 8A5 5 0 1 0 3 8a5 5 0 0 0 10 0z"/>
        <path d="M13.918 8.993A.502.502 0 0 0 14.5 8.5v-1a.5.5 0 0 0-.582-.493 6.044 6.044 0 0 1 0 1.986z"/>
        <path fill-rule="evenodd" d="M8 4.5a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H6a.5.5 0 0 1 0-1h1.5V5a.5.5 0 0 1 .5-.5z"/>
      </svg>
      Работно време
    </h2>
  </div>
</div>

<router-outlet></router-outlet>

